@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


@font-face {
    font-family: "Knockout Bold";
    src: url("./fuentes/Knockout-HTF73-FullHeviweight.386a901fd564bd4a47c7.woff2");
}

@font-face {
    font-family: "Knockout";
    src: url("./fuentes/Knockout-HTF33-JuniorHeviwt.291432cdf9638ce91c1d.woff2");
}



/* MENÚ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main__logo>svg {
    fill: #fff;
    width: auto;
}

body{
    background-color: black;
    font-family: "Knockout Bold";
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 25px;
    position:fixed;
    width: 100%;
    z-index: 999;
    top:0%;
}

.page__header__logo{
    width: 30%;
}

.iconos{
    width: 10%;
    margin: 25px;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}

.iconos svg:nth-child(2){
    width: 20%;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    width: 26%;
    margin: 0px 80px;
    align-items: center;
}

/* .nav-bar div{
    
} */

.nav-bar a{
    text-decoration: none;
    color: white;
    border:2px solid white;   
    padding: 12px 25px;  
    border-radius: 25px; 
}

.nav-bar a:nth-child(2){
    border: 2px solid red;
    background-color: red;
}


/* BANNER */

#banner-hamb{
    width: 100%;
    height: 80vh;
    line-height: 120px;
    margin-top: 10%;
}

.video{
    height: 96vh;
    width: 96vh;
    margin: 0 auto 4vh;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-55%);
}

.video video{
    max-width: 99vh;
    height: auto;
    margin-top: 9%;
}

.banner spam{
    color:white;
}

.letter1 spam:nth-child(odd), .letter3 spam:nth-child(odd){
    color: black;
    -webkit-text-stroke: 1px white;
}

.letter2 spam:nth-child(even), .letter4
 spam:nth-child(even){
    color: black;
    -webkit-text-stroke: 1px white;
}

.letter-container{
    position: absolute;
    width: 100%;
    font-size: 140px;
    text-wrap:nowrap;
    z-index: -999;
    overflow: hidden;
    margin-top: 5%;
}

.letter1, .letter3{
    animation-name:rotarDcha;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-delay: 0s;
    white-space:nowrap;
    transition: transform .64s cubic-bezier(0.61, 0.01, 0.46, 0.99);
    transition-delay: .16s
}

.letter2, .letter4{
    animation-name:rotarDcha;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    white-space:nowrap;
}

@keyframes rotarDcha {
    from{transform:translateX(0%);}
    to{transform: translateX(-130%);}
}



/* SECCIÓN 2- MÁS BURGUERS MENOS DRAMAS */
#promo{
    border-top: 1px solid white;
    position: relative;
    height: 80vh;
    background-image: url(./img/imagenes/Carrusel_2x1.jpg);
    background-size: cover;
    background-position: center;

}

.promocion img{
    width: 100%;
}

.promocion{
    width: 100%;
    position:relative;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 80vh;
}

.promocion div{
    color:white;
}

#promo:nth-child(2) a{
    color: white;
    text-decoration: none;
}

.controles{
    display: flex;
    justify-content: end;
}

.controles button{
    background-color:black;
    border:none;
}

.controles svg{
    fill: white;
    width: 40px;
}

.promocion .oferta{
    display: flex;
    flex-direction: column;
}

.oferta{
    margin:35px;
}

.oferta p{
    font-family:'Nunito Sans';
}

.oferta spam{
    font-size: 80px;
}

.bar--one{
    fill: white;
    width: 20px;
}

.oferta a{
    font-size: 30px;
} 


/* SECCIÓN 3- CARTA */
/* Animación de la CARTA */
.carta-container{
    width: 100%;
    font-size: 140px;
    text-wrap:nowrap;
    z-index: -999;
    overflow: hidden;
    margin-top: 15px;
    border-top:solid 2px white;
    border-bottom:solid 2px white;
}

.cartas spam:nth-child(odd){
    color: black;
    -webkit-text-stroke: 1.5px white;
}

.cartas spam:nth-child(even){
    color: white;
    -webkit-text-stroke: 1.5px white;
}

.cartas{
    animation-name:rotarDcha;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    white-space:nowrap;
}


/* Entrantes, burguers, etc */
#carta{
   overflow: hidden; 
}

.menu-container{
    padding:60px 0;
    display: flex;
    gap: 30px;
    /* justify-content: space-around; */
    margin-left:50px;
    width:300%; /*  con display flex solo no funciona, no se porqué, SÓLO FUNCIONA ASÍ */
}

.elemento-menu{
    width: 10%;
}

.texto{
    color:white;
    line-height: 35px;
    padding-top:20px;
    font-size:25px;
}

.texto p{
    font-family: "Nunito Sans";
    color:#8d8d8d;
}

.elemento-menu img{
    max-width: 100%;
    border:1px solid white;
    border-radius: 15px;
}

/* SECCION 4 */
#contador{
    text-align: center;
    padding-bottom: 10%;
}

#contador img{
    width: 100px;
}

#contador h2{
    color: white;
    font-size: 48px;
}

.cont{
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin: auto;
    padding:3% 0;
}

/* SECCIÓN 5 */
#registro{
    background:-webkit-linear-gradient(black ,rgb(151, 29, 39));
    padding-bottom: 5%;
    border-radius:40px
}

.texto-moneda{
    color: white;
    width: 80%;
}

.texto-moneda h2{
    font-size: 70px;
    line-height: 64px;
}

.texto-moneda p{
    font-family: "Nunito Sans";
    padding: 25px 0;
}

.texto-moneda a{
    color: white;
    text-decoration: none;
    padding:10px 15px;
    border: 2px solid white;
    border-radius: 25px;
}

.container-moneda{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 70%;
}

.moneda{
    width: 55%;
}

.moneda img{
    /* max-width: 100%; */
    width: 80%;
}


/* FOODTRUCK */
#truck{
    position: relative;
    height: 80vh;
    overflow: hidden;
}
.contenedor-video{
    position: relative;
    z-index: -999;
}

.video-truck{
    position:absolute;
    z-index: -999;
}

video{
    position: absolute;
    width: auto;
}


/* LETRAS SOBRE EL VIDEO  */
.contenido-video{
    position: absolute;
    color: white;
    top: 550px;
    line-height: 62px;
    padding:0 50px;
}

.contenido-video h2{
    font-size: 72px;
    margin-bottom: 15px;
}

.contenido-video p{
    font-family: "Nunito Sans";
}

.contenido-video a{
    color: white;
    text-decoration: none;
    font-size: 24px;
}


/* GOIKOCINA */
#goikocina{
    padding-top: 8%;
    padding-bottom:8%;
}

.goikocina-container{
    display: flex;
    align-items: center;
    /* width: 100vh;
    justify-content: space-between; */
}

.goikocinaTexto{
    display: flex;
    flex-direction: column;
    width: 40%;
    color: white;
    margin-left: 55px;
}

.goikocinaTexto h2{
    font-size: 80px;
    font-family: "Nunito Sans";
    line-height: 70px;
    padding:75px 0;
}

.goikocinaTexto p{
    font-size: 18px;
    font-family: "Nunito Sans";
    line-height: 20px;
}

.goikocinaTexto a{
    color: white;
    text-decoration: none;
    font-family: "Knockout Bold";
    border:2px solid white;
    width: 40%;
    padding:10px 20px;
    border-radius: 20px;
}

.banner-salsa img{
    max-width: 100%;
}

#goikocina svg{
    margin-bottom: 100px;
}

/* SECCIÓN 7 - GOIKO NEWS */

/* PALABRAS EN MOVIMIENTO */
.banner-news p{
    color: transparent;
    -webkit-text-stroke: 1.5px white;
}

.banner-news span{
    color: white;
    -webkit-text-stroke: 1.5px white;
}

.banner-news{
    animation-name:rotarLineal;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-delay: 0s;
    white-space:nowrap;
}

@keyframes rotarLineal {
    from{transform:translateX(0%);}
    to{transform: translateX(-130%);}
}

/* NEWS */

#goikoNews{
    padding-bottom: 5%;
    border-radius: 40px; /*NO FUNCIONA El BORDER RADIUS*/
    overflow: hidden;
}

.news-container{
    padding:60px 0;
    display: flex;
    justify-content: center;
    gap:30px;
    margin:0 30px;
    height: 90vh;
     /*  con display flex solo no funciona, no se porqué, SÓLO FUNCIONA ASÍ */
}

.new{
    width: 32%;
    height: 76%;
}

.news-container .new:first-of-type div:first-of-type {
    background-image: url(./img/imagenes/JL171223GOIKO-7-1024x683.jpg);
    background-size: cover;
    height: 80%;
    border-radius: 20px;
    border: 2px solid white;
}


.news-container .new:nth-of-type(2) div:first-of-type {
    background-image: url(./img/imagenes/BurgerEspecial_VAL_LaFallera_H-copia-1024x512.png);
    background-size: cover;
    background-position: center;
    height: 80%;
    border-radius: 20px;
    border: 2px solid white;
}

.news-container .new:nth-of-type(3) div:first-of-type{
    background-image: url(./img/imagenes/RESERVAS_1800x1200.png);
    background-size: cover;
    height: 80%;
    border-radius: 20px;
    border: 2px solid white;
}

.text-news{
    padding-top:5%;
}

.text-news span{
    color: white;
    font-family: "Knockout";
    font-size: 20px;
}

.text-news p{
    color: white;
    font-family: "Nunito Sans";
    font-size: 42px;
    padding-top: 20px;
}

#goikoNews>div:nth-child(3){
    text-align: center;
}

#goikoNews>div:nth-child(3)>a{
    color: white;
    text-decoration: none;
    font-size: 26px;
    border:2px solid white;
    border-radius: 40px;
    padding: 20px 40px;
}


/* FOOTER */

footer{
    height: 120vh;
    background-color: white;
    padding-top: 7%;
}

.footer-container{
    display:flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.logo-footer{
    width: 8%;
}

.footer-container svg{
    max-width: 100%; 
}

.opc1{
    font-size: 48px;
    width:30%;
    line-height: 60px;
}

.opc2{
    font-family: "Knockout";
    font-size: 20px;
    width: 25%;
    line-height: 35px;
}

.opc1 a{
    text-decoration: none;
    color: black;
}

.opc2 a{
    text-decoration: none;
    color: black;
}

.social-media{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top:20px;
    width: 15%;
    padding-left: 50px;
}

.social-media svg{
    width: 30px;
}

/* EL CIRCULITO QUE RODEA LAS REDES SOCIALES NO SE PONE */
/* .social-media svg::after{
    border-style: solid;
    border-width: .09375rem;
    border-radius: 50%;
    border-color: black;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
} */

/* PALABRAS CHORREOFOREVER EN MOVIMIENTO */

.chorreo-container{
    width: 100%;
    font-size: 140px;
    text-wrap:nowrap;
    z-index: -999;
    overflow: hidden;
    margin-top: 15px;
    border-top:solid 2px rgb(0, 0, 0);
    border-bottom:solid 2px rgb(0, 0, 0);
}

.chorreoForever span{
    color: transparent;
    -webkit-text-stroke: 1.5px black;
}

.chorreoForever{
    animation-name:rotarRev;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    white-space:nowrap;
}

@keyframes rotarRev {
    from{transform: translateX(0%);}
    to{transform: translateX(-130%);}
}

/* CONDICIONES LEGALES Y MARCA */
footer>div:last-child{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1% 2%;
}

footer>div:last-child>p{
    width: 40%;
}

footer>div:last-child>div{
display: flex;
justify-content: space-between;
width: 30%;
font-size: 15px;
}

footer>div:last-child span{
    font-family: "Knockout";
}

footer>div:last-child a{
    color: black;
    text-decoration: none;
    font-family: "Knockout";
    text-transform: uppercase;
}

.hoverTop{
    display: flex;
    justify-content: start;
}

.oculto, .top{
    visibility: hidden;
}

.punto{
    width: 3%;
}

.punto img{
    max-width: 100%;
}
